.Container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
    padding: 5% 25%;
    gap: 9%;
}
.item{
    background-color: #ffffdf;
    padding: 10px;
    border-radius: 15px;
    height: fit-content;
    text-align: center;
    transition: ease-in-out 0.5s;
    font-family: inherit;
}

.item:hover{
    transform: scale(1.2)
}

.Form{
    margin: 1%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.Form *{
    margin: 2px;
    padding: 5px;
}
.Form button:last-child{
    margin-top: 2%;
}

@media screen and (max-width:500px){
    .Container{
        font-family: monospace;
        flex-wrap: wrap;
        padding: 5%;
        gap: 15px;

    }
}