/* Warning each component should have its propre style import with it 
        'so 7ta t3wed twz3hom 3lihom'*/

body *{
  /* Basic */
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}


body{
  background-color: rgb(243, 247, 239);
}


.ContainerLogin {
  display: flex;
  padding: 6rem 10rem;
  gap: 9%;
  justify-content: center;
  align-items: center;
}
.ContainerLogin img{
  min-width: 50%;
}

@media screen and (max-width: 700px) {
  .ContainerLogin {
    display: flex;
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    align-items: center;
  }
}