
header{
    background-color: #E0E4E0;
}

header ul{
    font-family: fantasy;
    font-size: 1.5rem;
    padding: 15px;
    margin: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

header ul .logo{
    margin-right: auto;
    margin-left: 3%;
}

img{
    max-width: 100px;
}